@model FoodMartMongoDB.Dtos.SellingDtos.CreateSellingDto
@{
    ViewData["Title"] = "CreateSelling";
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container  mt-5">
    <h2 class="mb-4">Satış Ekle</h2>
    <form asp-action="CreateSelling" method="post">
        <div class="form-group mb-2">
            <label class="control-label">Adet</label>
            <input asp-for="Count" class="form-control" />
        </div>
        <div class="form-group mb-2">
            <label class="control-label">Toplam Tutar</label>
            <input asp-for="TotalPrice" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
</div>

